<app-header-section></app-header-section>

<app-content-section style="overflow-y: auto">
  <p class="description">
    Angular/Typescript/Sass/Bootstrap
    Exercice:
    This coding exercise consists in implementing a single frontend project with the Giphy public  API.
    Create an angular project with the latest version.
    Install Bootstrap.
    Use Sass
    Add a pre request code cleaning
    Create a simple project with a page listing a result of images from the Giphy API.
    This page must contain: a multi-tag search engine, the result of searching for 3 x 3 images, a pagination.
    Add a layer of unit test and end to end.
    *From the moment you receive the test task, you have 3 days to complete it


  </p>
</app-content-section>
